<div class="mt-3 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
    <div class="sm:col-span-2 sm:col-start-1">
        <label class="block text-sm font-medium leading-6 text-gray-900">First Name</label>
        <div class="mt-1">
            <InputText type="text" @bind-Value="@PersonalInfo.FirstName" class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-600 sm:text-sm sm:leading-6" />
            <ValidationMessage For="@(() => PersonalInfo.FirstName)" />
        </div>
    </div>

    <div class="sm:col-span-2">
        <label class="block text-sm font-medium leading-6 text-gray-900">Middle Name</label>
        <div class="mt-1">
            <InputText type="text" @bind-Value="@PersonalInfo.MiddleName" class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-600 sm:text-sm sm:leading-6" />
            <ValidationMessage For="@(() => PersonalInfo.MiddleName)" />
        </div>
    </div>

    <div class="sm:col-span-2">
        <label class="block text-sm font-medium leading-6 text-gray-900">Last Name</label>
        <div class="mt-1">
            <InputText type="text" @bind-Value="PersonalInfo.LastName" class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-600 sm:text-sm sm:leading-6" />
            <ValidationMessage For="@(() => PersonalInfo.LastName)" />
        </div>
    </div>

    <div class="sm:col-span-2 sm:col-start-1">
        <label class="block text-sm font-medium leading-6 text-gray-900">Gender</label>
        <fieldset class="mt-1">
            <div class="space-y-2">
                <InputRadioGroup @bind-Value="PersonalInfo.Gender">
                    <div class="flex items-center">
                        <InputRadio Value="Gender.Male" class="h-4 w-4 border-gray-300 text-cyan-700 focus:ring-cyan-700" />
                        <label class="ml-3 block text-sm font-medium leading-6 text-gray-900">Male</label>
                    </div>
                    <div class="flex items-center">
                        <InputRadio Value="Gender.Female" class="h-4 w-4 border-gray-300 text-cyan-700 focus:ring-cyan-700" />
                        <label class="ml-3 block text-sm font-medium leading-6 text-gray-900">Female</label>
                    </div>
                </InputRadioGroup>
                <ValidationMessage For="@(() => PersonalInfo.Gender)" />
            </div>
        </fieldset>
    </div>

    <div class="sm:col-span-2">
        <label class="block text-sm font-medium leading-6 text-gray-900">Date of Birth</label>
        <div class="mt-1">
            <InputDate @bind-Value="PersonalInfo.DOB" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-600 sm:text-sm sm:leading-6" />
            <ValidationMessage For="@(() => PersonalInfo.DOB)" />
        </div>
    </div>

    <div class="sm:col-span-2">
        <label class="block text-sm font-medium leading-6 text-gray-900">Phone Number</label>
        <div class="mt-1 rounded-md shadow-sm">
            <InputText type="text" @bind-Value="PersonalInfo.PhoneNumber" class="block w-full rounded-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-600 sm:text-sm sm:leading-6" placeholder="(012) 345-6789" />
            <ValidationMessage For="@(() => PersonalInfo.PhoneNumber)" />
        </div>
    </div>
</div>


@code {
    [Parameter]
    public PersonalInfoDto PersonalInfo { get; set; }
}
