<li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
    <div class="w-full p-5">
        <div class="flex items-center justify-between mb-2">
            <div class="flex items-center space-x-2">
                <h3 class="text-sm font-medium text-gray-900">Previous Forms</h3>
                <span class="inline-flex flex-shrink-0 items-center rounded-full bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                    @CurrentForms?.Count() @(CurrentForms?.Count() == 1 ? "Form" : "Forms")
                </span>
            </div>
            <div class="inline-flex rounded-md shadow-sm" role="group">
                <button @onclick="() => SelectYear(2023)" type="button" class="@GetYearButtonClass(2023)">
                    2023
                </button>
                <button @onclick="() => SelectYear(2024)" type="button" class="@GetYearButtonClass(2024)">
                    2024
                </button>
            </div>
        </div>

        @if (CurrentForms is not null)
        {
            <div class="grid grid-cols-3 gap-2 text-base text-gray-500">
                <div>
                    <div class="font-medium">Ten Qira'at</div>
                    <div class="text-center text-lg font-semibold text-cyan-700">
                        @{
                            var tenQiraatCount = CurrentForms.Where(f => f.CompetitionInfo.Division == DivisionConstants.TenQiraat).Count();
                            @(tenQiraatCount > 0 ? tenQiraatCount.ToString() : "-")
                        }
                    </div>
                </div>
                <div>
                    <div class="font-medium">Memorization</div>
                    <div class="text-center text-lg font-semibold text-cyan-700">
                        @{
                            var memorizationCount = CurrentForms.Where(f => f.CompetitionInfo.Division == DivisionConstants.Memorization).Count();
                            @(memorizationCount > 0 ? memorizationCount.ToString() : "-")
                        }
                    </div>
                </div>
                <div>
                    <div class="font-medium">Islamic Studies</div>
                    <div class="text-center text-lg font-semibold text-cyan-700">
                        @{
                            var islamicStudiesCount = CurrentForms.Where(f => f.CompetitionInfo.Division == DivisionConstants.IslamicStudies).Count();
                            @(islamicStudiesCount > 0 ? islamicStudiesCount.ToString() : "-")
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div>
        <div class="-mt-px flex divide-x divide-gray-200">
            <div class="flex w-0 flex-1">
                <a href="/register" class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-5 w-5 text-gray-400" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0" />
                    </svg>
                    New Form
                </a>
            </div>
            <div class="-ml-px flex w-0 flex-1">
                <button @onclick="ShowModal" class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-5 w-5 text-gray-400" viewBox="0 0 16 16">
                        <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8z" />
                    </svg>
                    Autofill
                </button>
            </div>
        </div>
    </div>
</li>
<AutofillModal Show="showModal" ArchivedForms="@CurrentForms" Year="@SelectedYear" OnClose="@CloseModal" />

@code {
    private bool showModal = false;
    private int SelectedYear = 2024; // Default to 2024

    [Parameter]
    public List<Form> Forms2023 { get; set; }

    [Parameter]
    public List<Form> Forms2024 { get; set; }

    // Get the current forms based on selected year
    private List<Form> CurrentForms => SelectedYear == 2023 ? Forms2023 : Forms2024;

    private void ShowModal()
    {
        showModal = true;
    }

    private void CloseModal()
    {
        showModal = false;
    }

    private void SelectYear(int year)
    {
        SelectedYear = year;
        StateHasChanged();
    }

    private string GetYearButtonClass(int year)
    {
        string baseClass = "px-2 py-1 text-xs font-medium ";

        if (year == SelectedYear)
        {
            return baseClass + "bg-cyan-600 text-white border border-cyan-700";
        }

        return baseClass + "bg-white text-gray-700 hover:bg-gray-100 border border-gray-300";
    }
}